body{
    color: aliceblue;
    background-color: gray;
}

#logo img{
    width: 150px;
    border: 5px solid #d8d8d8;
    border-radius: 20px;
}

.secao{
    border: 2px solid beige;
    border-radius: 10px;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 5px;
}